form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

footer div {
  flex: none;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.content {
  flex: 1;
}
